<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><?php echo $this->getTitle(); ?></title>
</head>
<body>
<!-- start header -->
<header><h1><?php echo $this->getHeader(); ?></h1></header>
<!-- end header -->

<!-- start
    menu -->
<nav>
    <ul>
        <?php foreach ($this->getLinks() as $link => $label): ?>
            <li><a href="<?php echo $link; ?>"><?php echo $label; ?></a></li>
        <?php endforeach; ?>
    </ul>
</nav>
<!-- end menu -->

<article>
    <?php echo $this->render('template/content'); ?>
</article>
<pre>
    pre

    pre


    pre

   </pre>
<!-- start footer -->
<footer><?php echo $this->get('footer'); ?></footer>
<!--
    end footer
    -->
</body>
</html>